node_modules
test
coverage
.bitbucket
.fork
.github
.husky
.vscode
docs
img
logs
tmp
.nyc_output
.nycrc.json
.vsls.json
.issuetracker
.coverage-comment-template.svelte
*.test.js
tsconfig*.json
eslint.config.js
.prettierrc
.prettierignore
.markdownlint.json
.markdownlint.md
.editorconfig
.gitattributes
prepare-release.js
CONTRIBUTING.md
