{
    "extends": ["eslint:recommended", "prettier", "ssjs"],
    "plugins": ["jsdoc", "prettier"],
    "rules": {
        "padded-blocks": "off",
        "prefer-rest-params": "off",
        "prefer-spread": "off",
        "require-jsdoc": [
            "warn",
            {
                "require": {
                    "FunctionDeclaration": true,
                    "MethodDefinition": true,
                    "ClassDeclaration": true,
                    "ArrowFunctionExpression": false,
                    "FunctionExpression": true
                }
            }
        ],
        "valid-jsdoc": "warn",
        "spaced-comment": ["warn", "always", { "block": { "exceptions": ["*"], "balanced": true } }]
    },
    "overrides": [
        {
            "files": ["*.js"],
            "env": { "es6": true },
            "parserOptions": {
                "ecmaVersion": 2018
            },
            "rules": {
                "no-var": "error",
                "prefer-const": "error",
                "prettier/prettier": "warn"
            }
        }
    ]
}
